name: Publish
on:
   push:
      branches:
         - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
   publish:
      runs-on: 'ubuntu-latest'
      permissions:
         issues: write|read
         pull-requests: write|read
      steps:
         - uses: actions/checkout@v3
         - uses: actions/setup-node@v3
           with:
              node-version: ${{ matrix.node }}

         - uses: bahmutov/npm-install@v1

         - name: Create Release Pull Request or Publish
           id: changesets
           uses: changesets/action@v1
           env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
           with:
              publish: yarn release
